@use '../variables' as *;
@use '../mixin' as *;

.banner {
    background: $color-black url('../../assets/img/banner.png') center / cover no-repeat;
    height: 74.4rem;
    &__content {
        @include display-flex(start, center);
        flex-direction: column;
        height: 100%;
    }
    &__title {
        display: inline-block;
        color: $color-white;
        font-size: clamp(1rem, 12vw, 4.8rem);
        max-width: 50rem;
        line-height: $font-size-h1;
        letter-spacing: 0.108rem;
        padding-bottom: 2rem;
    }
    &__description {
        color: $color-white;
        font-size: 2rem;
        padding-bottom: 6rem;
        max-width: 41.2rem;
    }

    &__btn {
        border-radius: $radius-8;
        font-size: $font-size-base;
        padding: 1.6rem 3.2rem;
    }

    @media (max-width: $bp-m-768) {
        &__content {
            padding: 0 3rem;
        }
    }
    @media (max-width: $bp-s-576) {
        height: 64.4rem;
        &__content {
            padding: 0 1rem;
            align-items: center;
            text-align: center;
        }
    }
}
