@use '../variables' as *;
@use '../placeholder' as *;
@use '../mixin' as *;

.header {
    position: relative;
    z-index: 1000; /* header над усім */
    isolation: isolate; /* захищає від зовнішніх stacking contexts */
    height: 7rem;
    width: 100%;
    background-color: $color-black;

    &__inner {
        padding: 0 1rem;
        position: relative; /* щоб внутрішні елементи могли мати вищий z-index */
        z-index: 20;
        height: 100%;
        background-color: $color-black;
        @include display-flex(center, space-between);
    }

    &__navigation {
        @include display-flex();
        gap: 2rem;

        & .header__logo {
            background-color: $color-black;
            width: 9.7rem;
            height: 3rem;
            &-img {
                @extend %full-size;
            }
        }
    }

    &__burger {
        width: 4rem;
        height: 4rem;

        @include display-flex();
        display: none;
        flex-direction: column;
        gap: 0.6rem;
        transition: transform 0.3s ease;

        &-liner {
            height: 0.2rem;
            width: 3rem;
            background-color: $color-white;
            transition: transform 0.3s ease;
        }
        &.burger-is-active span:nth-child(1) {
            transform: translateY(0.8rem) rotate(-45deg);
        }
        &.burger-is-active span:nth-child(2) {
            transform: rotate(45deg);
        }
        &.burger-is-active span:nth-child(3) {
            transform: translateY(-0.8rem) rotate(-45deg);
        }
        &.burger-is-active {
            transform:  rotate(-180deg);
        }
    }
    &__menu {
        display: none;
        position: absolute;
        padding: 2rem;
        top: 100%;
        left: 0;
        background-color: $color-black;
        z-index: 10; /* нижче за .header__inner */
        animation: burder_menu_anim 0.5s ease-in;
        /* залишаємо анімацію з transform, але z-index робить порядок явним */

        &-list {
            @include display-flex(start, center);
            flex-direction: column;
            gap: 1rem;
        }
        &-link {
            color: $color-white;
            font-size: $font-size-base;
        }
        &.is-active {
            display: flex;
            animation: burder_menu_anim 0.5s ease-in;
        }
    }

    &__nav {
        &-list {
            @include display-flex();
            gap: 2rem;
            transition: transform 0.5s ease, opacity 0.5s ease, gap 0.5s ease;

            transform: translateX(0);
            z-index: 1;
        }
        &-link {
            display: inline-block;
            padding: 0.3rem 0.6rem;
            font-size: $font-size-base;
            color: $color-gray;
            transition: color 0.5s ease;
            &:hover {
                color: $color-white;
            }
        }
    }

    &__action {
        @include display-flex();
        gap: 2rem;

        &-login {
            color: $color-gray;
            font-size: $font-size-base;
            transition: color 0.5s ease;
            &:hover {
                color: $color-white;
            }
        }

        &-sign {
            font-size: $font-size-base;
            border-radius: 3.2rem;
            background-color: $color-white;
            color: $color-black;
            transition: all 0.5s ease;

            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }

    @media (max-width: $bp-l-992) {
        &__nav {
            &-list {
                gap: 0.1rem;
            }
        }

        &__navigation {
            gap: 1rem;
        }
    }

    @media (max-width: $bp-m-768) {
        &__nav {
            &-list {
                transform: translateX(-150%);
                display: none;
            }
        }
        &__burger {
            display: flex;
        }
    }

    @keyframes burder_menu_anim {
        0% {
            transform: translateY(-10rem);
        }
        30% {
            transform: translateY(-0.5rem);
        }
        60% {
            transform: translateY(0.5rem);
        }
        100% {
            transform: translateY(0);
        }
    }
}
