@use '../variables' as *;
@use '../placeholder' as *;
@use '../mixin' as *;

.header {
    height: 7rem;
    width: 100%;
    background-color: $color-black;

    &__inner {
        height: 100%;
        @include display-flex(center, space-between);
    }

    &__navigation {
        @include display-flex();
        gap: 2rem;

        & .header__logo {
            background-color: $color-black;
            width: 9.7rem;
            height: 3rem;
            z-index: 2;
            &-img {
                @extend %full-size;
            }
        }
    }
    &__nav {
        &-list {
            @include display-flex();
            gap: 2rem;
            transition: transform 0.5s ease, opacity 0.5s ease, gap 0.5s ease;

            transform: translateX(0);
            z-index: 1;
        }
        &-link {
            display: inline-block;
            padding: 0.3rem 0.6rem;
            font-size: $font-size-base;
            color: $color-gray;
            transition: color 0.5s ease;
            &:hover {
                color: $color-white;
            }
        }
    }

    &__action {
        @include display-flex();
        gap: 2rem;

        &-login {
            color: $color-gray;
            font-size: $font-size-base;
            transition: color 0.5s ease;
            &:hover {
                color: $color-white;
            }
        }

        &-sign {
            font-size: $font-size-base;
            border-radius: 3.2rem;
            background-color: $color-white;
            color: $color-black;
            transition: all 0.5s ease;

            &:hover {
                background-color: $color-blue;
                color: $color-white;
            }
        }
    }

    @media (max-width: $bp-l-992) {
        &__nav {
            &-list {
                gap: 0.1rem;
            }
        }

        &__navigation {
            gap: 1rem;
        }
    }

    @media (max-width: $bp-m-768) {
        &__nav {
            &-list {
                /* замість instant display:none — робимо плавне зникнення */
                transform: translateX(-150%);
                opacity: 0;
            }
        }
    }
    @media (max-width: 750px) {
        &__nav {
            &-list {
                display: none;
            }
        }
    }
}
