@use 'variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $color-black;
    color: #111;
    line-height: 1.6;
}

/* ===== ЗАГОЛОВКИ ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 0;
    color: #222;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

main {
    background-color: #121214;
}
