@use 'variables' as *;

.container {
    padding: 0 6rem;
    max-width: 129rem;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: none;
    padding: 0.8rem 2rem;
    background-color: $color-blue;
    color: rgb(255, 255, 255);
}

.reverce {
    flex-direction: row-reverse;
}
