$color-blue: #0033ff;
$color-white: #ffffff;
$color-gray: #a6a8ad;
$color-black: #121214;

$radius-8: 8px;
$radius-32: 32px;

$font-size-base: 16px;

// Breakpoints
$bp-s-576: 576px;
$bp-m-768: 768px;
$bp-l-992: 992px;
$bp-xl-1200: 1200px;
